img {
    display: block;
    margin: 0 auto 0 auto;
    height: 10%;
    width: 350px;
    padding-top: 2%;
  }

.main-container {
    background-color: rgba(0,137,57,255);
    color:white;
    height: 930px;
    width: 100%;
    border-radius: 20px;
}

.submit{
    height: 50px;
    width: 310px;
    border-radius: 10px;
    border-color: white;
    background-color: rgba(0,137,57,255);
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.container-contact{
 
    width:350px;
    height: 530px;
    margin:auto;
}

h1, h2, h3{
    text-align: center;
    margin: 20px 0 30px 0;
}
h2{
    font-size:18px;
}

.label-container{
    margin:20px auto 20px 20px; 
}

label {
    font-weight: bold;

}

span{
    margin:10px;
    font-weight: bold;
}

.input-group{
    width:300px;
    height:30px;
}

.radio-input{
    width:20px;
    height:20px;
}

.copyright{
    margin:50px auto;
    font-size:7px;
    text-align:center;
}

.adresse{
    font-size:9px;
    margin:auto;
    text-align:center;
}

@media screen and 
(min-height: 931px) and (max-height:1150px) {

    .main-container {
    height: 1050px;
    }
    .copyright{
        margin:150px auto;
    }
    .label-container{
        margin:30px auto 20px 20px; 
    }
}
@media screen and 
(min-height: 1151px) {

    .main-container {
    height: 1370px;
    }
    .copyright{
        margin:380px auto;
    }
    .label-container{
        margin:55px auto 20px 20px; 
    }
}

@media screen and
(min-width: 468px) {
    
    img {
        width: 460px;

      }
}